## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
publish/
dist/
artifacts/
deb-root/
release-files/

## Visual Studio / VS Code / JetBrains
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

## Python & Environments
.venv/
*/.venv/
**/__pycache__/
*.pyc

## Temporary workspace
temp/
*.log

## OS Files
.DS_Store
Thumbs.db
